@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prociono&display=swap');


h1 {
    margin-left: 15%;
    margin-right: 30%;
    background: white;
    font-family: 'Aldrich', sans-serif;
    text-align: center

}



#btn1 {
    font-family: 'Prociono', serif;
    margin-top: 3%;
    margin-left: 9%;
    margin-right: 20px;
    width: 8%;
    
}
#btn2 {
    font-family: 'Prociono', serif;
    margin-top: 3%;
    margin-left: 3%;
    width: 8%;
    
}

#btn3 {
    font-family: 'Prociono', serif;
    width: 12%;
    
}

#btn-div {
    margin-top: 3%;
    margin-left: 14%;

}

#div2 {
    border: 2px solid black; 
    margin-top: 3%;
    height: 550px;

}


#div1 {
    height: 12%;
    margin-top: -590px;
    
      
}

#div3 {
    height: 40%;
    width: 40%;
    margin-left: 52%;
    margin-top: -30%;
    
      
}

#div4 {
   
    height: 40%;
    width: 40%;
    margin-left: 52%;
    

}


#exampleSpool1 {
    
    font-family: 'Prociono', serif;
    display: block;
    align-self: center;
    text-align: center;
    border: 2px solid gray;
    padding: 0.7%;
    margin-left: 8%;
    width: 8.5%;
    height: 5px;
    margin-top: 0.6%
   
}

#exampleSpool2 {
    
    font-family: 'Prociono', serif;
    display: block;
    align-self: center;
    text-align: center;
    border: 2px solid gray;
    padding: 10px;
    margin-left: 8%;
    width: 8.5%;
    height: 5px;
    margin-top: 0.6%
   
}

#exampleSpool3 {
    
    font-family: 'Prociono', serif;
    display: block;
    align-self: center;
    text-align: center;
    border: 2px solid gray;
    padding: 10px;
    margin-left: 8%;
    width: 8.5%;
    height: 5px;
    margin-top: 0.6%
   
}

#exampleSpool4 {
    
    font-family: 'Prociono', serif;
    display: block;
    align-self: center;
    text-align: center;
    border: 2px solid gray;
    padding: 10px;
    margin-left: 8%;
    width: 8.5%;
    height: 5px;
    margin-top: 0.6%
   
}


#exampleNumber1 {
    font-family: 'Prociono', serif;
    display: block;
    align-self: center;
    text-align: center;
    border: 2px solid gray;
    padding: 10px;
    margin-left: 21%;
    width: 8.5%;
    height: 5px;
    margin-top: 0.6%
   
    
}

#exampleNumber2 {
    font-family: 'Prociono', serif;
    display: block;
    align-self: center;
    text-align: center;
    border: 2px solid gray;
    padding: 10px;
    margin-left: 21%;
    width: 8.5%;
    height: 5px;
    margin-top: 0.6%
   
    
}

#exampleNumber3 {
    font-family: 'Prociono', serif;
    display: block;
    align-self: center;
    text-align: center;
    border: 2px solid gray;
    padding: 10px;
    margin-left: 21%;
    width: 8.5%;
    height: 5px;
    margin-top: 0.6%
   
    
}

#exampleNumber4 {
    font-family: 'Prociono', serif;
    display: block;
    align-self: center;
    text-align: center;
    border: 2px solid gray;
    padding: 10px;
    margin-left: 21%;
    width: 8.5%;
    height: 5px;
    margin-top: 0.6%
   
    
}


#Spool {
    font-family: 'Prociono', serif, 18px;
    display: block;
    margin-right: 73%;
    text-align: center;
    margin-top: 0.6%;

}


#num{
    font-family: 'Prociono', serif, 18px;
    display: block;
    margin-left: -48%;
    text-align: center;
    margin-top: -4%;
    
}








